.container{
  width: 2400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .form{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input{
    height: 100px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color:#bbb;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .button {
    width: 600px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    font-size: 30px;
  }

  .login{
    color: white;
    font-size: 24px;
  }

  .login:hover{
    color: #53c28b;
  }

  .account{
    margin-top: -32px;
    font-size: 20px;
  }